/* stylelint-disable indentation */
nav {
  margin-top: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

#hed {
  text-align: left;
  background-color: #fff;
  text-decoration: none;
  font-family: Soleil, sans-serif;
  line-height: 1.5;
  border: 0;
  border-bottom: 5px solid transparent;
  color: #242424;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;
  margin-right: 150px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.nv {
  text-decoration: none;
  margin-left: 50px;
  font-family: Soleil, sans-serif;
  line-height: 1.5;
  border: 0;
  border-bottom: 5px solid transparent;
  color: #242424;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
}

.nv1 {
  text-decoration: none;
  margin-left: 50px;
  font-family: Soleil, sans-serif;
  line-height: 1.5;
  border: 0;
  border-bottom: 5px solid transparent;
  color: #242424;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
}

#new-arrivals-header-02 {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Soleil, sans-serif;
  line-height: 1.5;
  border: 0;
  border-bottom: 5px solid transparent;
  color: #242424;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;
  margin-right: 150px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.font-weight-bold {
  color: #242424;
  font-family: Soleil, sans-serif;
  text-decoration: underline;
  font-weight: 700 !important;
  cursor: pointer;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.5;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding-left: 25px;
}

@media (min-width: 40em) {
  .featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.para {
  padding-left: 25px;
}

.text-colored { color: #f0efed; }

#cnt {
  background-color: #f3f1ed;
  font-family: Soleil, sans-serif;
  font-weight: 600;
  border: 0;
  border-bottom: 5px solid transparent;
  font-size: 1.1rem;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.text-cnt {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Soleil, sans-serif;
  font-weight: 600;
}

.nv:hover {
  color: #4c4c4c;
}

#parallax {
  border-radius: 25px;
  transition: 0.5s padding ease-out, 0.5s border-radi ease-out;
}

#parallax:hover {
         padding: 25px;
         border-radius: 50px;
}

.font-weight-bold:hover {
  color: #101010;
}

.b-example-divider {
  height: 3rem;
  background-color: #f3f1ed;
  border: solid #f3f1ed;
  border-width: 1px 0;
}

.bi {
  vertical-align: -0.125em;
  fill: "currentColor";
}

@media (min-width: 800px) {
  nav {
    color: black;
  }
}
